@model IEnumerable<ServiceDTO>
@{
    string strTitle = "Посты";
    ViewBag.Title = strTitle;
}
@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
    <div id="content">
        @if (Model.Any())
        {
            <section class="box article-list">
                <h2 class="icon fa-file-alt">
                    @foreach (ServiceDTO entity in Model)
                    {
                        <article class="box excerpt">
                            <a asp-area="" asp-controller="Services" asp-action="Show" asp-route-id="@entity.Id" class="image left image-service-list">
                                <img src="~/img/@entity.PhotoFileName" alt="" />
                            </a>
                            <div>
                                <header>
                                    <h3>
                                        <a asp-area="" asp-controller="Services" asp-action="Show" asp-route-id="@entity.Id">
                                            @entity.Title
                                        </a>
                                    </h3>
                                </header>
                                @if (entity.CategoryName != null)
                                {
                                    <div>
                                        Категория: <span class="text-bold">@entity.CategoryName</span>
                                    </div>
                                }
                                <p>
                                    @entity.DescriptionShort
                                </p>
                            </div>
                        </article>
                    }
                </h2>
            </section>
        }
    </div>
</div>